<h1>Please enter your information to create your Space One Federation profile!</h1>
<form action="/user/" method="post">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" placeholder="What is your first name?">
    <br>
    <label for="middleName">Middle Name</label>
    <input type="text" name="middleName" placeholder="What is your middle name?">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" placeholder="What is your last name?">
    <br>
    <label for="rank">Desiered Rank</label>
    <input type="text" name="rank" placeholder="What is your desiered rank?">
    <br>
    <label for="placeOfBirth">Place of Birth</label>
    <input type="text" name="placeOfBirth" placeholder="City, State, Country, Planet?">
    <br>
    <label for="yearOfBirth">Birth Year</label>
    <input type="text" name="yearOfBirth" placeholder="What year were you born?">
    <br>
    <label for="monthOfBirth">Birth Month</label>
    <input type="text" name="monthOfBirth" placeholder="What month were you born?">
    <br>
    <label for="dayOfBirth">Day of Your Birth</label>
    <input type="text" name="dayOfBirth" placeholder="What day were you born on?">
    <br>
    <label for="gender">Gender</label>
    <input type="text" name="gender" placeholder="What gender do you identify with?">
    <br>
    <label for="maritalStatus">Marital Status</label>
    <input type="text" name="maritalStatus" placeholder="What is your Marital Status?">
    {{!-- <br>
    <label for="serialNumber">Serial Number</label>
    <input type="text" name="serialNumber" placeholder="What is your Marital Status?"> --}} 
    {{!-- How can I randomly generate a serial number?? --}}
    <br>
    <input type="submit" value="submit">
</form>