<h1>Please enter your information to create a user account!</h1>
<form action="/user/" method="post">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" placeholder="What is your first name?">
    <br>
    <label for="middleName">Middle Name</label>
    <input type="text" name="middleName" placeholder="What is your middle name?">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" placeholder="What is your last name?">
    <br>
    <input type="submit" value="submit">
</form>