<h1>Please enter your information to create a user account!</h1>
<form action="/user/create" method="post">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" placeholder="What is your first name?">
    <br>
    <label for="Email">Middle Name</label>
    <input type="email" name="Email" placeholder="Please answer a valid email"> 
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" placeholder="What is your last name?">
    <br>
    <label for="Password">Password</label>
    <input type="text" name="Password" placeholder="enter a password">
    <br>
    <input type="submit" value="submit">
</form>