<h1>Welcome to SpaceOne Federation</h1>

<p>S.O.F is actively recruiting!!!</p>

<p>	SpaceOne Federation is intergalactic federation made up of civilizations all over the known universe. We are dedicated to the exploration of space and scientific discovery.</p>

<p>S.O.F allows its members to build their own starship, and man it with their own crew. While enlisted in S.O.F we at HQ require you to document all of your journeys into seperate mission briefs.</p>    

<p> Mission briefs allow us here at HQ better understand you experiences of living, traveling, and exploring the known and unknown universe.</p>