<h1>Top Secert List of the All Space One Federation Missions</h1>

{{#if missionBrief}}
  <ul>
  {{#each missionBrief}}
    <h1><a href="/missionBrief/{{id}}">{{missionTitle}}</a></h1>
    <p>{{missionLog}}</p>
    <p>{{missionLocated.planetsVisited}}</p>
  {{/each}}
  </ul>
{{/if}}