<h1>Please enter your new Mission Log information here so that it can be added to the Space One Federation archives!</h1>

    <form action="/missionBrief/" method="post">
        <label for="missionTitle">Mission Title</label>
        <input type="text" name="missionTitle" placeholder="What is the title of your mission?">
        <br>
        <label for="missionLog">Mission Log</label>
        <input type="text" name="missionLog" placeholder="Write your mission log here. Tells us about what happen during your mission?">
        <br>
        <label for="planetsVisited">What Planet Did You Visited?</label>
        <input type="text" name="planetsVisited" placeholder="What Planets did you visited?">
        <br>
        
        <input type="submit" value="submit">
    </form>