<h1>Please Update Your Information</h1>
{{#if MissionBrief}}
  {{#with MissionBrief}}
     <form action="/missionBrief/{{id}}?_method=PUT" method="POST">
        <label for="missionTitle">Update Mission Title</label>
        <input type="text" name="missionTitle" placeholder="What is the new title of your mission??" value="{{missionTitle}}">
        <br>
        <label for="missionLog">Update Your Mission Log</label>
        <input type="text" name="missionLog" placeholder="Write your mission log here. Tells us about what happen during your mission?" value="{{missionLog}}">
        <br>
        <label for="planetsVisited">Updated The Planet That You Visited</label>
        <input type="text" name="planetsVisited" placeholder="What Planets did you visited?" value="{{missionLocated.planetsVisited}}">
        <br>
        <input type="submit" value="submit">
    </form>
  {{/with}}
{{/if}}